#blog .contenedor{
   
    background: #E6E9FA;
   
    
}
article{
    
    padding: 10px;
    text-align: justify;
    
}
h4, h5 {
    
    margin: auto;
    width: 
    
     
}
ul{
    margin-left: 25px;
    margin-top: 10px;
}
#blog .contenedor img{
    position: sticky
}